[submodule "CovidStrategyCalculator/submodules/eigen"]
	path = CovidStrategyCalculator/submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tests/GoogleTest/googletest"]
	path = tests/GoogleTest/googletest
	url = https://github.com/google/googletest.git
